/* xtra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) { 
    .nav-bottom {
        width: 90%;
    }
    .btn-nav {
        padding: 13px;
    }
    img.icon-nav {
        width: 60px;
    }

    a.navbar-brand {
        margin: 0;
    }
    img.stat-pic {
        display: none;
    }
    .title {
        padding: 10px;
        text-align: center !important;
    }
    .title h1 {
        font-size: 40px;
        margin-top: 70px;
    }
    .card-wrapper {
        padding: 10px 0;
    }
    .card-what-is {
        width: 90%;
    }
    .card-sym, .card-pre {
        width: 305px !important;
        margin: auto;
        margin-top: 10px;
    }
    .page-3 {
        height: 1660px !important;
    }
    .sub-page-3 {
        height: 1450px;
    }
    .page-4 {
        height: 2130px !important;
    }
    .sub-page-4 {
        height: 1900px;
    }
    .row-case {
        padding: 60px 0;
    }
    .page-5 {
        height: 780px !important;
    }
    .sub-page-5 {
        height: 580px;
    }
}

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) { 
    .nav-bottom {
        width: 85%;
    }
    img.icon-nav {
        width: 65px;
    }

    img.stat-pic {
        display: none;
    }
    .title {
        padding: 10px;
        text-align: center !important;
    }
    .title h1 {
        font-size: 45px;
        margin-top: 80px;
    }
    .card-wrapper {
        padding: 45px 0;
    }
    .card-what-is {
        width: 90%;
    }
    .card-sym, .card-pre {
        width: 350px !important;
        margin: auto;
        margin-top: 10px;
    }
    .page-3 {
        height: 1760px !important;
    }
    .sub-page-3 {
        height: 1550px;
    }
    .page-4 {
        height: 2260px !important;
    }
    .sub-page-4 {
        height: 2030px;
    }
    .row-case {
        padding: 60px 0;
    }
    .page-5 {
        height: 780px !important;
    }
    .sub-page-5 {
        height: 580px;
    }
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) { 
    .nav-bottom {
        width: 80%;
    }
    img.icon-nav {
        width: 67px;
    }

    img.stat-pic {
        display: none;
    }
    .title {
        padding: 10px;
        text-align: center !important;
    }
    .title h1 {
        font-size: 45px;
        margin-top: 90px;
    }
    .card-wrapper {
        padding: 60px 0;
    }
    .card-what-is {
        width: 90%;
    }
    .card-sym, .card-pre {
        width: 370px !important;
        margin: auto;
        margin-top: 10px;
    }
    .page-3 {
        height: 1820px !important;
    }
    .sub-page-3 {
        height: 1580px;
    }
    .page-4 {
        height: 2320px !important;
    }
    .sub-page-4 {
        height: 2100px;
    }
    .row-case {
        padding: 60px 0;
    }
    .page-5 {
        height: 780px !important;
    }
    .sub-page-5 {
        height: 580px;
    }
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {  
    html {
        overflow: hidden;
    }
    .title {
        padding: 10px;
    }
    .title h1 {
        font-size: 45px;
        margin-top: 90px;
    }
    .card-wrapper {
        padding: 80px 0;
    }
    .card-what-is {
        width: 70%;
    }
    .card-body {
        min-height: 200px !important;
    }
    .card-body-pre {
        min-height: 230px !important;
    }
    .card-body-case {
        min-height: 10px !important;
    }
}

/* Very Large devices*/
@media (min-width: 1200px) {
    html {
        overflow: hidden;
    }
}